{{- /* Google Scholar citation_* tags and ScholarlyArticle JSON-LD for writings. */ -}}
{{- if and .IsPage (in (slice "publication" "talk") .Section) (not .Params.private) }}
{{- $p := . }}
{{- $types := .Params.publication_types | default slice }}
{{- $doi := .Params.doi | default "" }}
{{- if not $doi }}{{ range .Params.links }}{{ if in .url "doi.org/10." }}{{ $doi = replaceRE "^https?://(dx\\.)?doi\\.org/" "" .url }}{{ end }}{{ end }}{{ end }}
<meta name="citation_title" content="{{ .Title }}">
{{- range .Params.authors }}
<meta name="citation_author" content="{{ . }}">
{{- end }}
<meta name="citation_publication_date" content="{{ .Date.Format "2006/01/02" }}">
{{- if and .Params.venue (in (slice "published" "accepted") .Params.status) (not (in (lower (.Params.publication | default "")) "conditionally accepted")) }}
<meta name="citation_journal_title" content="{{ .Params.venue }}">
{{- end }}
{{- with .Params.volume }}<meta name="citation_volume" content="{{ . }}">{{ end }}
{{- with .Params.issue }}<meta name="citation_issue" content="{{ . }}">{{ end }}
{{- with .Params.pdf }}<meta name="citation_pdf_url" content="{{ . | absURL }}">{{ end }}
{{- with $doi }}<meta name="citation_doi" content="{{ . }}">{{ end }}
{{- $schemaType := "ScholarlyArticle" }}
{{- if in $types "book" }}{{ $schemaType = "Book" }}{{ else if in $types "data" }}{{ $schemaType = "Dataset" }}{{ else if eq .Section "talk" }}{{ $schemaType = "CreativeWork" }}{{ end }}
{{- $authors := slice }}
{{- range .Params.authors }}{{ $authors = $authors | append (dict "@type" "Person" "name" .) }}{{ end }}
{{- $ld := dict "@context" "https://schema.org" "@type" $schemaType "headline" .Title "name" .Title "author" $authors "url" .Permalink }}
{{- if eq .Params.status "published" }}{{ $ld = merge $ld (dict "datePublished" (.Date.Format "2006-01-02")) }}{{ end }}
{{- with .Params.abstract }}{{ $ld = merge $ld (dict "abstract" (. | plainify | htmlUnescape)) }}{{ end }}
{{- with .Params.venue }}{{ $ld = merge $ld (dict "isPartOf" (dict "@type" "Periodical" "name" .)) }}{{ end }}
{{- with $doi }}{{ $ld = merge $ld (dict "identifier" (printf "https://doi.org/%s" .) "sameAs" (printf "https://doi.org/%s" .)) }}{{ end }}
{{- with .Params.dataverse_url }}{{ $ld = merge $ld (dict "identifier" . "sameAs" .) }}{{ end }}
<script type="application/ld+json">{{ $ld | jsonify | safeJS }}</script>
{{- end }}
